.payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .payment-title {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .payment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .form-label {
    font-size: 24px;
    margin-bottom: 10px;
    display: block;
  }
  
  .form-select {
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    box-sizing: border-box;
  }
  
  .form-text {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
  }
  
  .form-btn {
    font-size: 24px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .form-btn:hover {
    background-color: #3e8e41;
  }
  